<div class="">

<nav>
  <div class="menu">
    <div class="logo">
      <a href="/"><img src="/public/images/acme-logo.png" alt="" ></a></a>
    </div>
    <div class="responsive-menu" >
      <a id="responsive-menu" href="#"><i class="fa fa-reorder"></i> <div class="icon-responsive"></div><div class="icon-responsive"></div><div class="icon-responsive"></div></a>
    </div>
    <div class="main-menu">
      <ul class="menu-navigation">
        <li><a href="#">Builder</a></li>
        <li><a href="#">Engine</a></li>
        <li><a href="#">Solutions <i class="down"></i><span> </a>
          <ul class="sub-menu">
            <li><a href="#">CARTO Rules!</a></li>
            <li><a href="#">Sub-Menu 2</a></li>
          </ul>
        </li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Blog</a></li>
        <li class="right"><a href="#">Contact us</a></li>
        <li class="right"><a href="#">Login</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</nav>

</div>
